<% provide :page_title, t('menu.questions') %>
<% currently_at t('menu.questions') %>

<h1 class="mb-4"><%= t('pages.questions.index.title') %></h1>

<%= link_to t('global.button.new_question'), new_question_path, class: "btn btn-primary btn-lg mb-3" %>

<%= pagination @pagy %>

<%= render @questions %>

<%= pagination @pagy %>


