<!DOCTYPE html>
<html data-lang="<%= I18n.locale %>">
  <head>
    <meta charset="utf-8">
    <title><%= full_title(yield(:page_title)) %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script

    <%= stylesheet_link_tag "application", media: 'all' %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <%= stylesheet_link_tag "application" %>
  </head>

  <body data-lang="<%= I18n.locale %>">
    <%= yield :main_menu %>

    <main class="container mt-3">
      <% flash.each do |k, v| %>
          <%= tag.div v, class: "alert alert-#{k}", role: 'alert' %>
      <% end %>

      <%= yield %>
    </main>
  </body>
</html>
